.btn-success {
    background-color: green;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-success-pill {
    background-color: green;
    color: #ffffff;
    padding: 15px;
    border: none;
    border-radius: 35px;
    font-weight: bold;
}

.btn-success-border {
    background-color: white;
    color: black;
    padding: 15px;
    border-color: green;
    border-width: 2px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-success-pill-border {
    background-color: white;
    color: black;
    padding: 15px;
    border-color: green;
    border-width: 2px;
    border-radius: 35px;
    font-weight: bold;
}